body
{
    background-image: url('/images/texas_scenery.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Your Elegant Cursive Font', cursive;
    font-size: 22px;
    color: #FFF;
    text-align: center;
    margin: 0;
}


#zen-intro
{
    background: #00205B;
    color: #FFF;
    width: 80%;
    padding: 20px;
    display: inline-block;
}

#zen-supporting
{
    background: #BF0A30;
    color: #FFF;
    width: 40%;
    padding: 10px;
    display: inline-block;
}

.sidebar
{
    background: #FFF;
    padding: 10px;
    color: #000;
    width: 40%;
    text-align: center;
    display: inline-block;
}

.sidebar ul, .sidebar li
{
    list-style: none;
    margin: 0;
    padding: 0;
}


#design-selection, #design-archives, #zen-resources
{
    width: 33.33%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: 'Your Elegant Cursive Font', cursive;
    color: #BF0A30;
}
